main{
    width: 100%;
    margin-top: 160px;
}
main .left{
    text-align: left;
}
main .left .card{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    margin-top: 60px;
}
main .left .card .box{
    text-align: left;
}
main .left .card .box h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 15px;
    margin-bottom: 8px;
    color: #091133;
}
main .left .card .box span{
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #5D6970;
}
main .right{
    text-align: right;
}
@media(max-width: 900px){
    main .right{
        text-align: center;
    }
    main .left{
        text-align: center;
    }
    main .left .card .box{
        text-align: center;
    }
    main .right img{
        width: 100%;
    }
}