/* nav-starting */
nav {
    width: 100%;
    padding: 20px 0px;
    background-color: white;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0px 40px;
}

nav ul li a {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #505F98;
}

nav .img {
    text-align: center;
}

nav .right {
    text-align: right;
}

nav .right button {
    width: 150px;
    height: 26px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: white;
    background: #111B47;
    border-radius: 2px;
    border: none;
}

/* header-starting */
header {
    width: 100%;
    background: #E7ECFF;
}

header .left {
    text-align: left;
}

header .left h1 {
    font-size: 50px;
    font-weight: 500;
    line-height: 66px;
    letter-spacing: 1px;
    color: black;
}

header .left p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
    color: #505F98;
}

header .left .flex {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

header .left .flex button {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    background: #111B47;
    border-radius: 2px;
    width: 170px;
    height: 35px;
    color: white;
    border: none;
}

header .left .flex a {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    border-radius: 2px;
    width: 170px;
    height: 35px;
    border: 2px solid #091133;
    border-radius: 2px;
    color: #091133;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}
header .left .flex a :hover{
    cursor: pointer;
    transition: 1s;
    background-color: #091133;
    color: white;
    display: inline;
}
@media(max-width: 900px){
    nav ul{
        justify-content: center;
    }
    nav .img{
        text-align: center;
        padding: 20px 0px;
    }
    nav .right{
        text-align: center;
    }
    header .left{
        padding-top: 50px;
        text-align: center;
    }
    header .left .flex{
        justify-content: center;
    }
    header .img{
        text-align: center;
        padding-top: 50px;
    }
    header .img img{
        width: 100%;
    }
}
@media(max-width: 700px){
    header .left h1{
        font-size: 30px;
        line-height: 40px;
    }
    header .left p{
        font-size: 14px;
        line-height: 25px;
    }
}